* {
    font-family: 'Cabin', sans-serif;
    font-family: 'Sono', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 5% 0% 10%;
    background-color: rgb(233, 205, 205);
}


.header-text {
    padding: auto;
}


.header-btn {
    text-decoration: none;
    color: white;
    background-color: rgb(235, 69, 102);
    padding: 8px 19px;
    margin: 2% 0%;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
}

.header-banner {
    margin: -0.5%
}

.banner {
    width: 70%;
}

.hot-deal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(229, 84, 115, 0.05);
    padding: 15% 8%;


}

.hot-deal-text {
    padding: auto;
    text-align: center;
}

.text {
    color: rgb(250, 85, 20);
}