/* common style start*/
* {
    font-family: 'Cabin', sans-serif;
    font-family: 'Sono', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

h1 {
    font-size: 200%;
    font-weight: 700;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-size: normal;
    font-weight: 400;

}

.btn {
    text-decoration: none;
    color: white;
    background-color: rgb(235, 69, 102);
    padding: 10px 19px;
    margin: 2% 0%;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
}

/* common style end*/

/* header start */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 5% 0% 10%;
    background-color: rgb(233, 205, 205);
}


.header-text {
    padding: auto;
}

.header-banner {
    margin: -0.5%
}

.banner {
    width: 70%;
}

/* header end */

/* Featured start */
.Featured {
    text-align: center;
    padding: 8%;
}

.Featured-pic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 20%;
}

.pic1 {
    margin-right: 20px;
    width: 200px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 30px;
    padding-bottom: 0;
}

.pic2 {
    margin-right: 20px;
    width: 200px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    padding: 20px;
    padding-top: 110px;
    padding-bottom: 0;
}

.pic3 {
    margin-right: 20px;
    width: 200px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    padding: 10px;
    padding-bottom: 0;
}

.pic-text {
    text-decoration: underline;
    color: black;
}

/* Featured end */

/* hot-deal start */
.hot-deal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(229, 84, 115, 0.05);
    padding: 7%;


}

.hot-deal-text {
    padding: auto;
    text-align: center;
}

.text {
    color: rgb(250, 85, 20);
}

/* hot-deal end */

/* Instagram start  */
.Instagram {
    padding: 5%;
}

.Instagram-title {
    text-align: center;
}

.Instagram-image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 20%;
}

.image {
    margin-right: 20px;
    width: 200px;
}

/* Instagram end  */

/* Subscribe start */
.Subscribe {
    background-image: url('Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    padding: 130px;
    border-radius: 8px;
    margin: 1% 16%;
}

.Subscribe-title {
    text-align: center;
    margin-bottom: 40px;
}

.Subscribe-ber {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ber {
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.831);
    margin-right: 7px;
}

/* Subscribe end */

/* footer start */
footer {
    background-color: black;
    text-align: center;
    padding: 5%;
    margin-top: 8%;
}

.footer-title {
    color: #E55473;
}

.footer-text {
    color: white;
    margin-bottom: 3%;
}

.rights {
    color: gray;
}

/* footer end */